@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');

* {
    margin: auto;
    font-family: 'BioRhyme', serif;
}

.text {
    height: 211px;
    background-color: #bce4bc;
    padding: 20px 20px;
    text-align: center;
    color: #2b2b2b;
}

.image {
    height: 211px;
    background-color: #8cd48c;
    padding: 20px 20px;
    text-align: center;
    color: #2b2b2b;
}

.restaurant {
    height: 211px;
    background-color: #63c763;
    padding: 20px 20px;
    text-align: center;
    color: #2b2b2b;
}

h1 {
    position: relative;
    top: 50%;
}

.text:hover {
    color: #f7f7f7;
    background-color: #2b2b2b;
    cursor: pointer;
}

.image:hover {
    color: #f7f7f7;
    cursor: pointer;
    background-color: #2b2b2b;
}

.restaurant:hover {
    color: #f7f7f7;
    cursor: pointer;
    background-color: #2b2b2b;
}